---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Talks</h2>

{% for post in site.talks reversed %}
  {% unless post.type == 'Poster' %}
    {% include archive-single-talk.html %}
  {% endunless %}
{% endfor %}

<h2>Posters</h2>

{% for post in site.talks reversed %}
  {% if post.type == 'Poster' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
